.galleryContent{
  width: 88%;
  height: calc(100vh - 174px);
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: #100802;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #C1A300;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  .gallery {
    column-count:3;
    column-width: 33%;
    padding: 0 12px;
  
    &__pics{
      transition: all 350ms ease;
      cursor: pointer;
      margin-bottom: 12px;
  
      &:hover{
        filter: opacity(.5);
      }
    }
  }
  
  @media (max-width: 991px){
    .gallery {
      column-count:2;
    }
  }
  
  @media (max-width: 580px){
    .gallery {
      column-count:1;
    }
  }
  
  
  .model {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #100802;
    transition: opacity .4s ease, visibility .4s ease, transform .5s ease-in-out;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    overflow: hidden;
    z-index: 99;
  
    
    img {
      width: auto;
      max-width: 100%;
      height: auto;
      max-height: 100%;
      display: block;
      line-height: 0;
      box-sizing: border-box;
      padding: 20px 0 20px;
      margin: 0 auto;
    }
  
   
    svg {
      position: absolute;
      right: 10px;
      top: 10px;
      height: 34px;
      width: 34px;
      opacity: 0.5;
      cursor: pointer;
      fill: white;
      z-index: 100;
  
      &:hover {
        opacity: 1;
      }
    }
  }
  
  .open{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }
}

